
<!-- <div class="search">
  <form action=""></form>

</div> -->
<div id="app">
  BACKBONE SHOULD BE LOADED
</div>

<script type= "html/template" id="AppViewTemplate">
  <div id="appView">
    <h1>Burning Airlines</h1>
    <hr>
    <div id="search"></div>
    <div id="details"></div>
    <ul id="flights"></ul>
    <div id="seatingPlan"></div>
  </div>
</script>

<script type="html/template" id="SearchViewTemplate">
<div id="searchView">
  <input id="origin" type="search" placeholder="Origin">
  <input id="destination" type="search" placeholder="Destination">
  <input id="submit" type="submit" value="Search">
</div>
</script>

<script type="html/template" id="FlightListViewTemplate">
    <ul id="flights"></ul>
</script>

<script type="html/template" id="FlightDetailsTemplate">
  <div id="flightView">
    <h1>
      <%%= flight_number %>
    </h1>
    <h2>
      <%%= origin %>
    </h2>
    <h2>
      <%%= destination %>
    </h2>
    <h2>
      <%%= date %>
    </h2>
    <p>
      <%%= plane %>
    </p>
  </div>
</script>

<script type="html/template" id="SeatingPlanViewTemplate">
  <table id="planeMap">
    <tr class="rows"> //ABCD...
      <td id="column"></td> //1234...
    </tr>
  </table>
</script>

  <!-- // here the plane map should be shown
    // refer to the plane map... app/views/airplanes/show.html.erb
    // how?
      // -->


<!-- Templates...

Start with the AppView
When you create a new instance and render it
Get the #AppViewTemplate
Put it in the div#app

Try and get that to happen using the Backbone Router

-->
