<h1>Burning Airlines</h1>

<!-- <div class="search">
  <form action=""></form>

</div> -->

<div id="app">
  BACKBONE SHOULD BE LOADED HERE
</div>

<!-- Templates...

Start with the AppView
  When you create a new instance and render it
  Get the #AppViewTemplate
  Put it in the div#app

Try and get that to happen using the Backbone Router

 -->
