<<<<<<< HEAD
<h1>Pages#app</h1>
<p>Find me in app/views/pages/app.html.erb</p>
=======
<h1>Burning Airlines</h1>

<!-- <div class="search">
  <form action=""></form>

</div> -->

<div id="app">
  BACKBONE SHOULD BE LOADED HERE
</div>

<!-- Templates...

Start with the AppView
  When you create a new instance and render it
  Get the #AppViewTemplate
  Put it in the div#app

Try and get that to happen using the Backbone Router

 -->
>>>>>>> 723fb8c1d94e507c540886e96ebd2bb7cf985267
