<<<<<<< HEAD
<h1>Pages#app</h1>
<p>Find me in app/views/pages/app.html.erb</p>
=======
<h1>Burning Airlines</h1>

<!-- <div class="search">
  <form action=""></form>

</div> -->
<div id="app">
  BACKBONE SHOULD BE LOADED
</div>

<div id="searchBar">
  <input id="origin" type="search" placeholder="Origin">
  <input id="destination" type="search" placeholder="Destination">
  <input id="date" type="date" placeholder="Date">
  <input id="submit" type="submit" value="Search">
</div>

  <script type= "html/template" id="AppViewTemplate">
    <div id="appView">
      <h1>All Flights Availables</h1>
      <nav>
        <a href="#">All Flights</a>
        <a href="#">A Flight</a>
      </nav>
      <hr>
      <ul id="flights"></ul>
    </div>
  </script>

  <script type="html/template" id="FlightViewTemplate">
    <div id="flightView">
    <h1>
      <%%= flight_number %>
    </h1>
    <h2>
      <%%= origin %>
    </h2>
    <h2>
      <%%= destination %>
    </h2>
    <h2>
      <%%= date %>
    </h2>
    <p>
      <%%= plane %>
    </p>
    </div>
  </script>

<!-- Templates...

Start with the AppView
  When you create a new instance and render it
  Get the #AppViewTemplate
  Put it in the div#app

Try and get that to happen using the Backbone Router

 -->
>>>>>>> 723fb8c1d94e507c540886e96ebd2bb7cf985267
