
body {
  background-color: honeydew;
  text-align: center;
  font-family: monospace;
  background-image: url("http://i208.photobucket.com/albums/bb315/moonlit-sonnet/Icons/disney/hbond/fireesmerelda.gif" );
}

.field {
  width: 300px;
  margin: auto;
}
