body {
  background-color: honeydew;
  text-align: center;
  font-family: monospace;
  background-image: url("http://media.moddb.com/images/mods/1/17/16856/sshot113.jpg" );
  color: red;
}

.field {
  width: 300px;
  margin: auto;
}
